.resourceContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 3rem;
}

.resourceItem {
  display: flex;
  gap: 20px;
  background-color: #ffae42;
  border-radius: 5rem;
  padding: 1rem;
}

.resourceContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resourceIMG {
  width: 475px;
  height: 475px;
  border-radius: 5rem;
}

.divItem {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.linkCSS {
  color: white;
  font-size: 2rem;
}

.linkButton {
  background-color: black;
  border: none;
  width: 40%;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10rem;
  margin-top: 2rem;
}
.custom-notification {
  position: fixed;
  top: 50%; /* Vertically center the notification */
  left: 50%; /* Horizontally center the notification */
  transform: translate(-50%, -50%); /* Center the notification precisely */
  padding: 10px 20px;
  background-color: green; /* Customize the background color */
  color: white; /* Customize the text color */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
