.card-parent-div {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2rem 2rem 2rem;
}
.card {
  text-align: center;
  border: 4px solid white;
  padding: 16px 8px 8px 8px;
  border-radius: 12px;
  color: white;
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
}
.card:hover {
  border: 8px solid yellow;
  background-color: orange;
  opacity: 1;
}

.cardMain:hover {
  border: 8px solid yellow;
  background-color: orange;
  opacity: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headText {
  color: white;
  font-size: 7rem;
  font-family: "Outfit", sans-serif;
  text-align: center;
  flex: 0;
  min-width: 0;
  padding-left: 3rem;
  padding-bottom: 4rem;
}

.cardMain {
  text-align: center;
  border: 4px solid white;
  padding: 16px 8px 8px 8px;
  border-radius: 12px;
  color: white;
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
}

.link-theme {
  color: white;
}
.link:visited {
  color: none;
}

.changeMe {
  color: orange;
  text-decoration: underline;
  -webkit-text-stroke: 3px;
}
