.forNow {
  color: white;
  padding: 0 2rem 2rem 2rem;
}

.eachCryptoItem {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  border: solid 2px white;
  border-radius: 3rem;
}

.card-img-top {
  width: 60%;
}
