.forNow {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  color: white;
}

.eachCryptoItem {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  border: solid 2px white;
  border-radius: 3rem;
}

.card-img-top {
  width: 60%;
}
